<html>
  <body>
    <table>
      <tr>
        <th>Podcast</th>
        <th>Episode</th>
        <th>Description</th>
      </tr>

      <% @index.each do |name, results| %>      
        <tr>
          <td colspan="3">
            <stong><%= name %></strong>
          </td>
        </tr>

        <% results.each do |result| %>
          <tr>
            <td><%= result["podcast"] %></td>
            <td><a href='<%= result["link"] %>'><%= result["title"] %></a></td>
            <td><%= result["description"] %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </body>
</html>